.project_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.project_image{
    border: 2px solid white;
    max-width: 500px;
    height: auto;

}
.project_text{
    flex: 1; 
}
