.project_form{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.project_image{
    border: 2px solid white;
    max-width: 50%;
    height: auto;

}
.project_text{
    flex: 1; 
}
