.NavBar ul {
    background-color: powderblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    text-align: center;
    border: 10px solid white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* makes nav stretch down the page */
}

.NavBar li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 2px solid white;
}

.NavBar li a:hover {
    background-color: white;
    color: powderblue;
}

.active {
    background-color: white;
    color: powderblue;
    font-weight: bold;
}
.cover-image {
    width: 400px;       
    height: 400px;       
    object-fit: cover;  
    border: 5px solid white;
    display: block;
    margin: 20px auto;   
}

h1{
    background-color: powderblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 300%;
    padding: 25px;
    border: 10px solid white;
    text-align: center; 
}


h2 {
    background-color: powderblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 175%;
    padding: 25px;
    border: 10px solid white;
    text-align: center; 
}

body {
    margin-left: 220px; 
    background-color: powderblue;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 150%;
    padding: 25px;
}
