.NavBar ul {
    background-color: powderblue;
    list-style-type: none;
    border: 10px solid white;
    display: flex; 
    overflow: hidden;
}
.NavBar li{
    float: left;
}

.NavBar li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

.NavBar li a:hover {
    background-color: white;
    color: powderblue;
}

.active {
    background-color: white;
    color: powderblue;
    font-weight: bold;
}
.cover-image {
    max-width: 800px;
    width: 80%;       
    height: auto;       
    object-fit: cover;  
    border: 5px solid white;
    display: block;
    margin: 20px auto;   
}
.background_color1{
    background-color: LightGray;
}

.Text{
    color: white; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
header{
    background-color: powderblue;
    font-size: 150%;
}


h2 {
    background-color: powderblue;
    font-size: 125%;
    padding: 25px;
    border: 10px solid white;
}

body { 
    background-color: powderblue;
    font-size: 150%;
    padding: 25px;
}
